In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import seaborn as sns
import sklearn
plt.rcParams["figure.figsize"] = (18,9)

In [2]:
z_train = pd.read_csv('train_2016_v2.csv')

In [3]:
z_train

       parcelid  logerror transactiondate
0      11016594    0.0276      2016-01-01
1      14366692   -0.1684      2016-01-01
2      12098116   -0.0040      2016-01-01
3      12643413    0.0218      2016-01-02
4      14432541   -0.0050      2016-01-02
5      11509835   -0.2705      2016-01-02
6      12286022    0.0440      2016-01-02
7      17177301    0.1638      2016-01-02
8      14739064   -0.0030      2016-01-02
9      14677559    0.0843      2016-01-03
10     10854446    0.3825      2016-01-03
11     11672170   -0.0161      2016-01-03
12     10949761    0.0344      2016-01-03
13     14665244    0.0816      2016-01-03
14     14148540   -0.0450      2016-01-03
15     14057104    0.0020      2016-01-03
16     17296797    0.0440      2016-01-03
17     12524288   -0.0419      2016-01-03
18     14091502   -0.0020      2016-01-03
19     10815909    0.0100      2016-01-03
20     12453853   -0.0387      2016-01-03
21     14253461    0.0218      2016-01-03
22     14001034    0.0149      2016-01-03
23     11458863    0.1151      2016-01-03
24     13957980   -0.1696      2016-01-03
25     12752047   -0.0440      2016-01-03
26     11188425   -0.0747      2016-01-03
27     14646051    0.0080      2016-01-03
28     10805063    0.0010      2016-01-03
29     12524725   -0.0534      2016-01-03
...         ...       ...             ...
90245  10757551    0.0953      2016-12-30
90246  12558267    0.0139      2016-12-30
90247  11710734    0.2095      2016-12-30
90248  14347592    0.0080      2016-12-30
90249  11341061   -0.1312      2016-12-30
90250  14027878    0.0421      2016-12-30
90251  12756771    0.0658      2016-12-30
90252  12758333    0.0030      2016-12-30
90253  11295458   -0.0294      2016-12-30
90254  12757889   -0.0111      2016-12-30
90255  11308315    0.0070      2016-12-30
90256  14353215    0.0218      2016-12-30
90257  10753416    0.0526      2016-12-30
90258  11756902    0.0889      2016-12-30
90259  11994047    0.0178      2016-12-30
90260  11440746    0.0237      2016-12-30
90261  11703478    0.0431      2016-12-30
90262  10965821   -0.2231      2016-12-30
90263  12067066    0.1398      2016-12-30
90264  11683263    0.0478      2016-12-30
90265  12062080   -0.3769      2016-12-30
90266  12265636   -0.0030      2016-12-30
90267  17109680    0.0010      2016-12-30
90268  12268527   -0.0151      2016-12-30
90269  12920746    0.0344      2016-12-30
90270  10774160   -0.0356      2016-12-30
90271  12046695    0.0070      2016-12-30
90272  12995401   -0.2679      2016-12-30
90273  11402105    0.0602      2016-12-30
90274  12566293    0.4207      2016-12-30

[90275 rows x 3 columns]